doctype html
html
  head
    title=  'TOKEN'
    meta(charset='utf-8')
    meta(name="viewport" content='width=device-width, initial-scale=1, shrink-to-fit=no')

    //- OPENPAY 
    script(type='text/javascript' src='https://openpay.s3.amazonaws.com/openpay.v1.min.js')
    script(type='text/javascript' src='https://openpay.s3.amazonaws.com/openpay-data.v1.min.js')
    script(type='text/javascript' src='./static/javascripts/Obtener_DeviceSessionId.js')
    script(type='text/javascript' src='./static/javascripts/constants.js')  
    script(type='text/javascript').
        sandBoxActivo = true; // indicador de ambiente
        if (sandBoxActivo = true) {
            SessionId("mnqcgrppv7kl3jluue9y", "pk_9366fdef591843a79baa948ec0217e1f", sandBoxActivo); // Sandbox
        } else {
            SessionId("mmpfenzdan37myheoz8c", "pk_dfee17f81b7f453bb6ff402433e40af3", sandBoxActivo); // Produccion
        }

    //- Boostrap 
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css')
    //- link(rel='stylesheet' href='./scripts/bootstrap.min.css')
     //- jQuery library 
    link(rel='stylesheet', href='/scripts/jquery.min.js')
    //-  JavaScript 
    link(rel='stylesheet', href='/scripts/bootstrap.min.js')  
    //- Popper
    link(rel='stylesheet', href='/scripts/popper.js')
    //-  Nuestro css 
    link(rel='stylesheet' type='text/css' href='./static/stylesheets/token.css' th:href='@{/stylesheets/token.css}')
    //-  Los iconos 
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css')  

  body
    block content

     button.btn.btn-link.text-white.font-weight-bold.btn-block(type='button')
       a(href='/', style='font-size: 30px;color:inherit;') Home Page
     .modal-dialog.text-center
      .col-sm-20.main-section
        .modal-content
          h2.text-white.font-weight-bold.text-center.my-4 Datos para Tokenizar
          form.credit-card-div(action='#')
            .row
            .col-md-12
                input.form-control(type='text', placeholder='Número de Tarjeta')
            .row
            .col-md-3.col-sm-3.col-xs-3
                span.help-block.text-white.small-font  Mes 
                input.form-control(type='text', placeholder='MM')
            .col-md-3.col-sm-3.col-xs-3
                span.help-block.text-white.small-font  A&ntilde;o 
                input.form-control(type='text', placeholder='YY')
            .col-md-3.col-sm-3.col-xs-3
                span.help-block.text-white.small-font  CVV
                input.form-control(type='text', placeholder='CCV')
            .col-md-3.col-sm-3.col-xs-3
                span.far.fa-credit-card(style='font-size:40px;color:lightblue;text-shadow:2px 2px 4px #000000;')  
            .row
            .col-md-12.pad-adjust
                input.form-control(type='text', placeholder='Nombre Tarjeta Habiente')
            .row
             .col-md-6.col-sm-6.col-xs-6.pad-adjust
                input.btn.btn-danger(type='submit', value='CANCELAR')
             .col-md-6.col-sm-6.col-xs-6.pad-adjust
                input.btn.btn-warning.btn-block(type='button', onclick='get_cliente();', value='TOKENIZAR')
